<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Player Position Predictor</title>
</head>
<body>
    <h1>Football Player Position Predictor</h1>
    <form id="predictForm">
        <label for="TouDef3rd">TouDef3rd:</label>
        <input type="number" id="TouDef3rd" name="TouDef3rd"><br><br>
        <label for="TI">TI:</label>
        <input type="number" id="TI" name="TI"><br><br>
        <label for="Clr">Clr:</label>
        <input type="number" id="Clr" name="Clr"><br><br>
        <label for="PasTotPrgDist">PasTotPrgDist:</label>
        <input type="number" id="PasTotPrgDist" name="PasTotPrgDist"><br><br>
        <label for="PasDead">PasDead:</label>
        <input type="number" id="PasDead" name="PasDead"><br><br>
        <label for="TouDefPen">TouDefPen:</label>
        <input type="number" id="TouDefPen" name="TouDefPen"><br><br>
        <label for="PasMedCmp">PasMedCmp:</label>
        <input type="number" id="PasMedCmp" name="PasMedCmp"><br><br>
        <label for="TouAtt3rd">TouAtt3rd:</label>
        <input type="number" id="TouAtt3rd" name="TouAtt3rd"><br><br>
        <label for="RecProg">RecProg:</label>
        <input type="number" id="RecProg" name="RecProg"><br><br>
        <label for="TouAttPen">TouAttPen:</label>
        <input type="number" id="TouAttPen" name="TouAttPen"><br><br>
        <label for="PasTotCmp">PasTotCmp:</label>
        <input type="number" id="PasTotCmp" name="PasTotCmp"><br><br>
        <label for="TouMid3rd">TouMid3rd:</label>
        <input type="number" id="TouMid3rd" name="TouMid3rd"><br><br>
        <label for="Shots">Shots:</label>
        <input type="number" id="Shots" name="Shots"><br><br>
        <button type="button" onclick="makePrediction()">Predict</button>
    </form>
    <div id="result"></div>
    <script>
        function makePrediction() {
            const formData = new FormData(document.getElementById('predictForm'));
            const data = {};
            formData.forEach((value, key) => {
                data[key] = parseFloat(value);
            });
            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify([data])
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerText = JSON.stringify(data, null, 2);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
